*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;

}
#root{
    width: 100%;
    height: 100%;
    background-color: #abd4d2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container{
    width: 55%;
    height: 70%;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 10px 12px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    
    flex-direction: column;
    gap: 30px;

}
.input-box{
    border: none;
    width: 400px;
    height: 40px;
    font-size: 21px;
    box-shadow: 0 12px 22px rgba(93, 161, 158,0.15);
    border-radius: 14px;
}

.add-btn{
    height: 39px;
    border-radius: 14px;
    width: 70px;
    background-color: #abd4d2;
    border: none;
    margin-left: 5px;
    box-shadow: 0 12px 22px rgba(93, 161, 158,0.15);
    font-size: 22px;
}

li{
    width: 430px;
    height: 40px;
    font-size: 21px;
    box-shadow: 0 12px 22px rgba(93, 161, 158,0.15);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border-radius: 14px;
}

.remove-btn{
    padding-right: 15px;
    height: 39px;
    width: 50px;
    color: red;
    border: none;
    border-radius: 12px;
    box-shadow: 0 12px 22px rgba(93, 161, 158,0.15);

}
