*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html,body{
    height: 100%;
    width: 100%;

}

#root{
    height: 100%;
    width: 100%;
    background-color: #56226b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 70%;
    width: 50%;
    background-color: #6d3782;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nums{
    padding-top: 57px;
    padding-bottom: 50px;
}



.btn{
    border: none;
    padding: 10px;
    border-radius: 7px;
    margin: 10px 10px;
    
}

